<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server</title>
</head>
<body>
    <header>
        <h1>Server</h1>
    </header>

    <main>
        <section>
            <h2>This is the server page</h2>
            <p>we can do server things here</p>
        </section>

    </main>
</body>
</html>